<% content_for :javascript_includes do %>
  <%= javascript_include_tag "exercise_logging.js" %>
<% end %>

<div class="list-group-item rounded-3 py-3 my-1">
    <%= form_for @set, url: method=="create" ? exercise_workout_sets_path(exercise.id) : exercise_workout_set_path(exercise.id, @set.id), method: method=="create" ? :post : :patch do |form|%>
      <%= hidden_field_tag "type" , "#{set_type}" %>

        <h6>
          <%= "#{set_type}:" %>
        </h6>
        <% if @set.created_at %>
        <div class="form-floating py-2">
          <%= text_field_tag :created_at, @set.created_at, class: 'form-control' , placeholder: 'Created At' %>
            <%= form.label :created_at %>
        </div>
        <% end %>
        <% if set_type.constantize.has_weight? %>
          <div class="form-floating py-2">
            <%= number_field_tag :rep_value, @set.rep_value, class: 'form-control' , placeholder: 'Weight' %>
              <%= form.label :weight %>
          </div>
          <% end %>

            <% if set_type.constantize.has_reps? %>
              <div class="form-floating py-2">
                <%= number_field_tag :rep_count, @set.rep_count, class: 'form-control', id: 'rep-count', placeholder: 'Reps' %>
                  <%= form.label :rep_count %>
              </div>
              <div class="form-floating py-2 text-center" id="shortcut-buttons">
                <span class="d-none d-md-inline-block">Rep Shortcuts:</span>
                <button class="btn btn-secondary rounded-pill" id="rep-btn-minus">-</button>
                <button class="btn btn-secondary rounded-pill rep-changer">1</button>
                <button class="btn btn-secondary rounded-pill rep-changer">3</button>
                <button class="btn btn-secondary rounded-pill rep-changer">5</button>
                <button class="btn btn-secondary rounded-pill rep-changer">8</button>
                <button class="btn btn-secondary rounded-pill d-md-inline-block d-none rep-changer">10</button>
                <button class="btn btn-secondary rounded-pill d-md-inline-block d-none rep-changer">12</button>
                <button class="btn btn-secondary rounded-pill" id="rep-btn-plus">+</button>
              </div>
              <% end %>

            <% if set_type.constantize.has_distance? %>
              <div class="form-floating py-2">
                <%= text_field_tag :distance, @set.distance, class: 'form-control' , placeholder: 'Distance' %>
                  <%= form.label :distance %>
              </div>

              <div class="py-2">
                <%= select_tag :distance_unit, options_for_select(Constants::DISTANCE_UNITS), { include_blank: 'Select Distance Unit', class: 'form-select' } %>
              </div>
            <% end %>

            <% if set_type.constantize.has_duration? %>
              <div class="form-floating py-2">
                <%= text_field_tag :duration, @set.duration, class: 'form-control' , placeholder: 'Duration (seconds)' %>
                <%= form.label :duration %>
                <%= hidden_field_tag "timer_direction" , "#{:up}" %>
              </div>

              <div class="py-2">
                <%= select_tag :duration_unit, options_for_select(Constants::TIME_UNITS), { include_blank: 'Select Time Unit', class: 'form-select' } %>
              </div>
            <% end %>

                <% if set_type.constantize.has_rpe? %>
                  <div class="form-floating py-2">
                    <%= number_field_tag :rpe, @set.rpe, class: 'form-control' , placeholder: 'RPE' %>
                      <%= form.label :rpe %>
                  </div>
                  <%= render partial: "shared/partials/rpe_guidelines" %>
                  <% end %>

                      <% if method == "create" %>
                        <button type="submit" class="btn btn-success">
                          <i class="bi bi-plus-circle-fill"></i>
                          Log Set
                        </button>
                      <% else %>
                        <button type="submit" class="btn btn-success">
                          <i class="bi bi-save"></i>
                          Save Set
                        </button>
                        <a href="<%= exercise_path(exercise)%>" class="btn btn-success">
                          <i class="bi bi-save"></i>
                          Cancel
                        </a>
                      <% end %>
                    <% end %>
  </div>
