<% set = nil if local_assigns[:set].nil? %>
<% exercise = nil if local_assigns[:exercise].nil? %>


<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= title %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
      aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
      aria-labelledby="offcanvasNavbarDarkLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">
          <%= title %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <% if exercise&.description.present? %>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">
                <%= exercise.description %>
              </a>
            </li>
            <% end %>
            <% if exercise.present? %>
              <li class="nav-item">
                <%= link_to edit_exercise_path(exercise), class: "nav-link" do %>
                  <i class="bi bi-pencil-fill"></i>
                  Edit Exercise
                  <% end %>
              </li>
            <% end %>
            <% if exercise.present? %>
              <li class="nav-item">
                <a data-bs-toggle="modal" data-bs-target="#deleteExerciseModal" class="nav-link" href="#deleteExerciseModal">
                  <i class="bi bi-trash3-fill"></i>
                  Delete Exercise
                </a>
              </li>
            <% end %>
            <% if set.present? && set.id.present? && exercise && exercise.id.present? %>
              <li class="nav-item">
                <a data-bs-toggle="modal" data-bs-target="#deleteSetModal" class="nav-link" href="#deleteSetModal">
                  <i class="bi bi-trash3-fill"></i>
                  Delete Set
                </a>
              </li>
            <% end %>
              <li class="nav-item">
                <%= link_to exercises_path, class: "nav-link" do %>
                  <i class="bi bi-chevron-left"></i>
                  Exercise List
                  <% end %>
              </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<% if exercise.present? %>
  <div class="modal fade" id="deleteExerciseModal" tabindex="-1" aria-labelledby="deleteExerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteSetModalLabel">Warning</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <%= exercise.name %>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
          <%= button_to exercise_path(exercise), method: :delete, class: "btn btn-primary" do %>
           Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if set.present? && set.id.present? && exercise && exercise.id.present? %>
  <div class="modal fade" id="deleteSetModal" tabindex="-1" aria-labelledby="deleteSetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteSetModalLabel">Warning</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this set?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
          <%= button_to exercise_workout_set_path(exercise, set), method: :delete, class: "btn btn-primary" do %>
           Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
