<a href="<%= exercise_workout_set_path(set.exercise, set) %>"" class="recent-set-item list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <% if set.rpe? %>
        <div class="rounded-circle flex-shrink-0">
            <span class="rpe-icon bi bi-<%= set.rpe %>-circle-fill"></span>
        </div>
        <% end %>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <% case set.type when WeightWorkoutSet.name %>
                        <h6 class="mb-0">
                            <%= "#{set.rep_count} x #{set.rep_value}lbs." %>
                        </h6>
                        <% when RepWorkoutSet.name %>
                            <h6 class="mb-0">
                                <%= "#{set.rep_count} reps" %>
                            </h6>
                        <% when TimedWorkoutSet.name %>
                            <h6 class="mb-0">
                                <%= "#{set.duration} seconds" %>
                            </h6>
                        <% when DistanceWorkoutSet.name %>
                            <h6 class="mb-0">
                                <%= "#{set.distance} #{set.distance_unit}" %>
                            </h6>
                            <% if set.duration.present? && set.duration > 0 %>
                            <h6 class="mb-0">
                                <%= "#{set.duration} seconds" %>
                            </h6>
                            <% end %>
                        <% end %>

                        <p class="mb-0 opacity-75">
                            <%= set.type %>
                        </p>
                </div>
                <small class="opacity-50 text-nowrap">
                    <%= display_time(set.created_at) %> - <%= display_date(set.created_at) %>
                    <% if set.type == WeightWorkoutSet.name %>
                        <span class="opacity-50"><br />Est 1RM: <%= calc_1rm([set])%>lbs</span>
                    <% end %>
                </small>
            </div>
</a>