<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= @exercise.name %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
      aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
      aria-labelledby="offcanvasNavbarDarkLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">
          <%= @exercise.name %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <% if @exercise.description.present? %>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">
                <%= @exercise.description %>
              </a>
            </li>
            <% end %>
              <li class="nav-item">
                <%= link_to edit_exercise_path(@exercise), class: "nav-link" do %>
                  <i class="bi bi-pencil-fill"></i>
                  Edit
                  <% end %>
              </li>
              <li class="nav-item">
                <%= button_to exercise_path(@exercise), method: :delete, class: "nav-link" do %>
                  <i class="bi bi-trash3-fill"></i>
                  Delete
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to exercises_path, class: "nav-link" do %>
                  <i class="bi bi-chevron-left"></i>
                  Exercise List
                  <% end %>
              </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div class="d-flex flex-column flex-md-row p-1 align-items-center justify-content-center">
  <h2 class="display-5 fw-bold text-body-emphasis">Recent Sets</h2>
</div>
<div class="d-flex flex-column flex-md-row p-1 gap-4 py-md-1 align-items-center justify-content-center">
  <div class="recent-sets-list list-group">
    <% @sets.each do |set| %>
      <%= render partial: "shared/partials/recent_set" , locals: { set: set} %>
        <% end %>
  </div>
</div>



<div class="d-flex flex-column flex-md-row p-1 align-items-center justify-content-center">
  <h2 class="display-5 fw-bold text-body-emphasis">Log Set</h2>
</div>
<div class="d-flex flex-column flex-md-row p-1 gap-4 py-md-1 align-items-center justify-content-center">
  <div class="log-set-forms-list list-group">

    <% @exercise.set_types.each do |set_type| %>
      <%= render partial: "shared/partials/log_set_form" , locals: { set_type: set_type, exercise: @exercise} %>
    <% end %>
  </div>
</div>



<div class="d-flex flex-column flex-md-row p-1 align-items-center justify-content-center">
  <%= link_to exercises_path, class: "btn btn-primary rounded-pill px-3" do %>
    <i class="bi bi-chevron-left"></i>
    Exercise List
    <% end %>
</div>