<div class="container text-center">
  <div class="row">
    <div class="col">

      <h1>
        <%= @exercise.name %>
      </h1>

      <p>
        <%= @exercise.description %>
      </p>

      <div class="d-flex gap-2 justify-content-center py-2">
        <%= link_to edit_exercise_path(@exercise), class: "btn btn-secondary rounded-pill px-3" do %>
          <i class="bi bi-pencil-fill"></i>
          Edit
          <% end %>
            <%= button_to exercise_path(@exercise), method: :delete, class: "btn btn-danger rounded-pill px-3" do %>
              <i class="bi bi-trash3-fill"></i>
              Delete
              <% end %>
      </div>

      <div class="row">
        <div class="col">        
          <h2>Sets</h2>
          <ul>
          <% @sets.each do |set| %>
            <li><%= set.created_at %></li>
          <% end %>
          </ul>

          <%= form_for @set, url: exercise_workout_sets_path(@exercise.id) do |form|%>
            <div class="form-floating py-2">
              <%= text_field_tag :reps, nil, class: 'form-control' , placeholder: 'Reps' %>
              <%= form.label :reps %>
            </div>
            <button type="submit" class="btn btn-success">
              <i class="bi bi-plus-circle-fill"></i>
              Log Set 
            </button>
          <% end %>

        </div>
      </div>

      <div class="d-flex gap-2 justify-content-center py-1">
        <%= link_to exercises_path, class: "btn btn-primary rounded-pill px-3" do %>
          <i class="bi bi-chevron-left"></i>
          All Exercises
          <% end %>
      </div>

    </div>
  </div>
</div>