<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>ExerciseLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= yield %>
    <%= render partial: "shared/partials/footer" %>
  </body>
  <%= yield :javascript_includes %>
</html>
