<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>ExerciseLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_constants %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="main">
      <%= yield %>
      <%= render partial: "shared/partials/footer" %>
    </div>
  </body>
  <%= yield :javascript_includes %>
</html>
